<h1>Home#about</h1>
<p>
One year ago, I placed a stake in the ground. I decided I could no longer passively accept the current state of the healthcare system without doing something about it. I decided to quit my job and dedicate myself to producing a software network that gives unprecedented power and health information directly to patients, via a system of patient-to-patient sharing modeled after Wikipedia.

Many doctors, providers, and those in the healthcare industry told me that what I was doing was dangerous. That it wouldn't work out. That patients don't know what they are talking about. That medicine should be left in the hands of the "experts". And that, at best, patient anecdotes about their experiences with treatments were "cute".


Patients with chronic conditions literally go through 99.999% of their lives outside of the doctor's office, but that data from them living with and treating their condition is effectively swept aside—it's "anecdotal" after all. Patients experiment with alternative treatments like diets, supplements, or activities, and learn whether they work or not. But the system doesn't support upstreaming of that data. That data just gets lost. Leaving newly diagnosed patients to start at square one, relearning things many patients have learned before. I think that system doesn't make any sense.

One thing I learned is that if I had listened to the traditional thinkers who repeatedly told me "no"—to those people who told me that patient-to-patient healthcare is "crazy", "dangerous", or blasphemous—I would never have gotten this far. I would not have a wall full of printed emails from patients all over the globe telling me that Crohnology has already made a huge difference in their lives.

Oftentimes I'm finding that hearing "no" means you're doing something right.

The wave of the patient revolution is building. You, as a patient living right now in this time and space, have an amazing opportunity to be out on the front of that wave—to literally help shape the future of how we practice medicine.
</p>
