<div class="img-background">
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="inner">
          <h1 class="common-health"> COMMON HEALTH </h1>
            <h2>Endometriose : apprenons les-unes des autres </h2>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <h1>COMMON HEALTH</h1>
      <h2>Endometriose : apprenons les-unes des autres </h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="" width="48">
        <p>
          Toutes mes données sont privées et ne seront jamais rendues publiques*.
        </p>
    </div>
    <div class="col-md-4">
      <img src="" width="48">
        <p>
          Je peux poser des questions, échanger sur les traitements, apporter mon expérience personnelle.
        </p>
    </div>
    <div class="col-md-4">
      <img src="" width="48">
        <p>
          Si je le souhaite, je peux rencontrer d'autres filles près de chez moi.
        </p>
    </div>
  </div>
</div>


    <div class= "container">
      <div class="row">
        J'ai commencé Common Health parce que je vis avec l'endométriose depuis maintenant 8 ans officiellement, je ai réalisé que les données que je recueillais l'extérieur du bureau du médecin était tout aussi important, sinon plus, que ce que je apprenais à l'intérieur. Depuis mon diagnostic, j'ai trouvé que, pour moi, les régimes alimentaires et les suppléments, réduction du stress et de relaxation mentale, et l'exercice aide. J'ai entendu beaucoup de gens sur la demande internet qu'ils avaient trouvé la formule magique, mais je pensais que c'était irresponsable d'être si confiant. Tout simplement parce que ces choses ont travaillé pour moi, je n'étais pas sur le point de prétendre qu'ils travaillent pour tout le monde. Au lieu de cela, je ai décidé de créer un réseau de recherche alimenté patient qui permettrait patients partout à contribuer leurs propres expérimentations de traitement d'une manière qui pourrait être agrégées pour nous d'apprendre ce qui fonctionne réellement pour qui.
      </div>
    </div>
