<!-- <div class="container"> -->
<div class="img-background">
  <div class="lead">
    <h1>COMMON HEALTH</h1>
      <h2>Endometriose : apprenons les-unes des autres </h2>
  </div>
</div>

<div class="container">
  <div class="icono">
    <div class="row cf">
      <div class="col-md-4 icono">
        <div class="span">
          <div class="glyphicon glyphicon-lock square"></div>
        </div>
      </div>
      <div class="col-md-4 icono">
        <div class="span">
          <div class="magnifier"></div>
        </div>
      </div>
      <div class="col-md-4 icono">
        <div id="block">
          <div class="span">
            <div class="location_indicator"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text">
    <div class="row">
      <div class="col-md-4 feature">
        <p>
          Mes données sont privées et uniquement accessibles aux membres de Common Health*.
        </p>
      </div>
      <div class="col-md-4 feature">
        <p>
          Je cherche les conversations en fonction des thèmes qui m'intéressent, échanger sur les traitements et apporter mon expérience personnelle aux filles qui en ont besoin.
        </p>
      </div>
      <div class="col-md-4 feature">
        <p>
          Je peux rencontrer les "endogirls" près de chez moi ou localiser les événements d'informations.
        </p>
      </div>
    </div>
  </div>
</div>
    <div class="vertical-spacer"></div>
    <div class="vertical-spacer"></div>



    <div class= "container">
      <div class="row">
        J'ai commencé Common Health parce que je vis avec l'endométriose depuis maintenant 8 ans officiellement, je ai réalisé que les données que je recueillais l'extérieur du bureau du médecin était tout aussi important, sinon plus, que ce que je apprenais à l'intérieur. Depuis mon diagnostic, j'ai trouvé que, pour moi, les régimes alimentaires et les suppléments, réduction du stress et de relaxation mentale, et l'exercice aide. J'ai entendu beaucoup de gens sur la demande internet qu'ils avaient trouvé la formule magique, mais je pensais que c'était irresponsable d'être si confiant. Tout simplement parce que ces choses ont travaillé pour moi, je n'étais pas sur le point de prétendre qu'ils travaillent pour tout le monde. Au lieu de cela, je ai décidé de créer un réseau de recherche alimenté patient qui permettrait patients partout à contribuer leurs propres expérimentations de traitement d'une manière qui pourrait être agrégées pour nous d'apprendre ce qui fonctionne réellement pour qui.
      </div>
    </div>

    <div id="footer">
      <p>Ceci est le footer</p>
    </div>
