<div class="text-center" id="intro">
  <div class="img-background">
      <div class="jumbotron">
        <div class="container">
          <h1> COMMON HEALTH </h1>
            <h2>Endometriose : apprenons les-unes des autres </h2>
        </div>
        <%= image_tag "home/background-co.png", :class => "background-co" %>
      </div>

  </div>
</div>
