@font-face {
    font-family: 'robotothin';
    src: url('font/roboto_thin_macroman/Roboto-Thin-webfont.eot');
    src: url('font/roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff'),
         url('font/roboto_thin_macroman/Roboto-Thin-webfont.ttf') format('truetype'),
         url('font/roboto_thin_macroman/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

.img-background{
  background-image: image-url('home/background-co.png');
  height: 650px;
  background-size: cover;
  text-align: center;
  color: white;
}


.common-health{
  position: absolute;
  padding-top: 200px;
  color: white;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

 .lead h1{
  font-size: 60px;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
  font-weight: normal;
  position: absolute;
  padding-left: 100px;
  padding-top: 10px;
  color: #DDDDDD;
  opacity: 1;
 }

 .lead h2{
  padding: 0.2em;
  font-size: 38px;
  font-weight: 300;
  letter-spacing: 2px;
  position: absolute;
  padding-top: 300px;
  color: white;
  opacity: 1;
}

.vertical-spacer {
  height: 8em;
}

.HOME {
  display: block;
  color: $color;
  padding-top: 15px;
  padding-left: 40px;
  padding-bottom: $vertical-padding;
}
.container {
  margin-left: 0;
  color: #CCCCCC;
}

.feature {
  font-weight: 300;
  letter-spacing: 1px;
  color: #666;

}

*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.row{
    text-align: center;
    padding: 50px 0;
}

.span, .span_large{
    float: center;
    width: 100px;
    vertical-align: middle;
    border-radius: 4px;
    margin-right: 100px;
}
.span:last-child{
    margin-right: 0px;
}

/*Location indicator */
.location_indicator{
    margin: 30px auto;
    position: relative;
    left: -9px;
}

.location_indicator:before,
.location_indicator:after{
    position: absolute;
    content: "";
}

.location_indicator:before{
    width: 20px;
    height: 20px;
    border-radius: 100% 100% 100% 0;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0, 0.3);
    -webkit-animation: mapping 1s linear infinite;
       -moz-animation: mapping 1s linear infinite;
            animation: mapping 1s linear infinite;
    -webkit-transform: rotate(-46deg);
       -moz-transform: rotate(-46deg);
            transform: rotate(-46deg);

}

.location_indicator:after{
    width: 30px;
    height: 10px;
    border-radius: 100%;
    left: 44px;
    background-color: #AAAAAA;
    top: 24px;
    z-index: -1;
}

@-webkit-keyframes mapping{
    0% {top: 0;}
    50%{top: -5px;}
    100% {top:0; }
}
@-moz-keyframes mapping{
    0% {top: 0;}
    50%{top: -5px;}
    100% {top:0; }
}
@-keyframes mapping{
    0% {top: 0;}
    50%{top: -5px;}
    100% {top:0; }
}

.p {
  color: black;
}

#footer{
  background-color: black;
  padding-top: 3em;
  padding-bottom: 3em;
}